// File: _variables.scss
// This file contains variables config.
/* STYLES GO HERE */

/*
* Logo
*/
//Rosa
$color-fiery-rose-logo: #f15574;
$color-crimson-logo: #cf1137;
$color-prune-logo: #71091e;
//Escala de branco
$color-white-logo: #ffffff;
$color-pastel_gray-logo: #cccccc;
$color-spanish_gray-logo: #999999;
//Escala de preto
$color-black-logo: #000000;
$color-jet-logo: #333333;
$color-granite_gray-logo: #666666;

/*
* Detergente
*/
//Verde principal
$color-screamin_green-detergent: #72f258;
$color-harlequin_green-detergent: #31d310;
$color-india_green-detergent: #1b7509;
//Verde sombra
$color-palm_leaf-detergent: #5d9845;
$color-mughal_green-detergent: #325225;
$color-smoky_black-detergent: #070c05;
//azul principal
$color-wild_blue-logo: #a2b5dc;
$color-silver_lake_blue-logo: #587ac0;
$color-bdazzled_blue-logo: #314b81;
//azul sombra
$color-cyan_blue_azure-logo: #4b79bb;
$color-deep_koamaru-logo: #2c4a74;
$color-eerie_black-logo: #101b2a;

/*
* Esponja
*/
//Amarelo principal
$color-unmellowyellow-sponge: #fff573;
$color-yellow_process-sponge: #ffee0d;
$color-vivid_amber-sponge: #a69a00;
//Amarelo sombra
$color-brown_yellow-sponge: #d19a5a;
$color-golden_brown-sponge: #9a672b;
$color-cafe_noir-sponge: #4a3215;
//Verde principal
$color-fern_green-sponge: #5f724a;
$color-black_leather_jacket-sponge: #2b3422;

/*
* Controle
*/
//Cinza principal
$color-black_shadows-sponge: #b7b1b1;
$color-rocket_metallic-sponge: #867c7c;
$color-dark_liver-sponge: #514b4b;
//Cinza sombra
$color-dim_gray-sponge: #6c6872;
$color-onyx-sponge: #39373d;
$color-smoky_black-sponge: #070707;
//roxo 1 principal
$color-toolbox-sponge: #776eb2;
$color-cyber_grape-sponge: #484179;
$color-middle_red_purple-sponge: #211d37;
//roxo 1 sombra
$color-cyber_grape_two-sponge: #62468c;
$color-russian_violet-sponge: #322448;
$color-rich_black_fogra39-sponge: #030204;
//roxo 2 principal
$color-lavender_purple-sponge: #9786bd;
$color-dark_lavender-sponge: #624e8f;
$color-russian_violet_two-sponge: #352a4d;
//roxo 2 sombra
$color-dark_lavender_two-sponge: #7b5494;
$color-japanese_violet-sponge: #452f53;
$color-smoky_black_two-sponge: #0f0a12;
// sombra
$color-mountbatten_pink-sponge: #956f8b;
$color-eggplant-sponge: #5b4355;
$color-eerie_black_two-sponge: #20181e;

// Dark Theme
$color-dark-deep-palette-one: #212529;
$color-dark-shallow-palette-one: #272b2f;
$color-dark-text: #ffffff;
$color-dark-deep-text: #9da699;
$color-dark-subtext: #707175;
$color-title: $color-fiery-rose-logo;

/*
$color-dark-deep-palette-one: #1f232d;
$color-dark-shallow-palette-one: #272c38;
$color-dark-deep-palette-two: #2b303b;
$color-dark-shallow-palette-two: #2f3541;
$color-dark-title: #fffff9;
$color-dark-text: #9da699;
*/
